# Сборка и бинарники
build/
bin/
*.o
*.obj
*.so
*.dll
*.exe

# Настройки Qt Creator
.qtcreator/
*.user
*.pro.user
.qtc_clangd/

# Локальные данные приложения и кэш
data/
plugins-cache/

# Всё, кроме исходного кода плагинов (если SumConfig нужно оставить в репо)
# Если папка plugins должна содержать только исходники плагинов, ее саму не игнорим,
# но если там создаются .so/.dll, они отсекутся правилом *.dll / *.so выше.
installer/win_python/
